<div class="container centered home">
    <h2>Please enter your student number..</h2>
    <hr/>
    <form>
        <div class="input-group">
            <span class="input-group-btn">
                <input type="text" name="studnumber" class="form-control" placeholder="Your student number..."/>
                <button type="button" class="btn btn-info">Log in</button>
            </span>
        </div>
    </form>
</div>