<div class="container centered home">
    <h2>Please enter your student number below to sign in.</h2>
    <hr/>
    <form>
        <div class="input-group">
            <input name="studnumber" class="form-control" placeholder="Student number">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-info">Sign in</button>
            </span>
        </div>
    </form>
</div>