<div class="container centered home">
    <h2>Please enter your student number..</h2>
    <hr/>
    <form>
        <div class="input-group">
            <span class="input-group-btn">
                <input type="text" name="studnumber" id="studnumber" class="form-control" placeholder="Your student number..." required/>
				<button onclick="send();" class="btn btn-info" href="javascript:;">Submit</button>
            </span>
        </div>
    </form>
</div>

<script>
	function send(){
		var userName = document.getElementById('studnumber');
		
		if (userName.value == 18) 
		{
			alert(userName.value);
		} 
		else 
		{
			alert("empty");
		}
	}
</script>