<!doctype html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic">
  </head>
  <body>
    <div id="app">

        <div class="container">
            {{#if currentUser}}
                <a href="/logout" class="pull-right">Logout</a>
            {{/if}}

            <section id="header">
                <header class="centered">
                    <h1>Learn english!</h1>
                </header>
            </section>
        </div>

        {{{ body }}}

    </div>

    <script src="/js/app.js"></script>
  </body>
</html>
