<div class="container centered home">
    <h2>Please pick a level</h2>

    <div id="levels">
    {{#each levels}}
        <a href="/levels/{{ _id }}" class="col-md-4 level">
            <h2>{{ name }}</h2>
        </a>
    {{/each}}
    </div>

    
</div>
