<div class="container centered">
    <!-- if you have no code.. -->
    <h3>Your progress</h3>
    <div class="progress_bar">
        <span></span>
    </div>
    <h2>Level 1</h1>
    <h2>{{level.name}}</h2>
</div>
