
body {
  background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

.hidden {
  display: none;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Lato";
    font-weight: 300;
    color: #333;
}


/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

.goleft {
	text-align: left;
}

.goright {
	text-align: right;
}

/* Links */
a {
    color: #f85c37;
    word-wrap: break-word;

    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

 hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.home {
	h2 {
		margin:20px 0;
	}
}

#levels {
    .level {
        h2 {
            border:1px solid $blue;
            padding:20px;
        }
        &:hover {
            h2 {
                background-color: $blue;
                color: $white;
                @include transition(all 0.3s ease-in-out) ;
            }
        }
    }
}

#answer {
    margin-bottom:0 20px;
}

.progress_bar {
    height: 20px;  /* Can be anything */
	position: relative;
	background: #555;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);

    span {
        width:0%;
        display: block;
        height: 20px;
        line-height:20px;
        -moz-border-radius: 25px;
	    -webkit-border-radius: 25px;
        background-color: rgb(43,194,83);
        position: relative;
        overflow: hidden;
        color:white;
        font-weight:bold;
    }
}
